@model PMS.Web.ViewModels.ProductInformation
<div class="divFrmProduct">
    <div class="form-group">
        <b>Product Name:</b>
        @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <b>Type:</b>
        @Html.TextBoxFor(m => m.Type, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <b>Status:</b>
        @Html.TextBoxFor(m => m.Status, new { @class = "form-control", @value = "Active" })
    </div>
</div>



