@model IEnumerable<PMS.Web.ViewModels.ProductInformation>
<div class="table-responsive">

    <table class="table" id="dataTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th width="10%" align="center" style="text-align:center;">Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>

                        @if (Convert.ToString(item.Status) == "True")
                        {
                            @Html.Label("Active")
                        }
                        else
                        {
                            @Html.Label("Not Active")
                        }

                    </td>
                    <td>

                        @*@Html.ActionLink("Edit", "Edit", new { recordId = item.RecordId, }) |
                            @Html.ActionLink("Details", "Details", new { recordId = item.RecordId })
                            @Html.ActionLink("Delete", "Delete", new { recordId = item.RecordId })*@
                        <a href="javascript:void(0);" class="anchorDetail" data-id="@item.RecordId" data-name="edit" data-toggle="tooltip" title="Edit"><i class="fa fa-edit text text-muted"></i></a>&nbsp;|
                        <a href="javascript:void(0);" class="anchorDetail" data-id="@item.RecordId" data-name="detail" data-toggle="tooltip" title="View Details"><i class="fa fa-eye text text-muted"></i></a>&nbsp;|
                        <a href="javascript:void(0);" class="anchorConfirm" data-id="@item.RecordId" data-name="delete" data-action="/Product/Delete"><i class="fa fa-trash text text-danger" data-toggle="tooltip" title="Delete "></i></a>

                    </td>
                </tr>
            }
            @if (ViewBag.pList == "0")
            {
                <tr>
                    <td colspan="6" align="center">
                        <strong class="text text-default">No data found.</strong>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*<div id="tblcontent"></div>*@
</div>
<script src="~/Scripts/PMS/app/confirm.js"></script>
<script>
    $(function () {
        $(".anchorDetail").click(function () {
            //debugger;
            PageLoader();
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var name = $buttonClicked.attr('data-name');
            $('.btnProductSave').attr('data-id', id);
            $.ajax({
                type: "GET",
                url: '/Product/Details',
                contentType: "application/json; charset=utf-8",
                data: { "recordId": id },
                datatype: "json",
                success: function (data) {
                    //debugger;
                    $('#detailContent').html(data);
                    if (name == "detail") {
                        $(".btnProductSave").css("display", "none");
                        $(".divFrmProduct").find('input, textarea, button, select').attr('readonly', true);
                    }
                    else {
                        $(".btnProductSave").css("display", "block");
                        $(".divFrmProduct").find('input, textarea, button, select').attr('readonly', false);
                    }
                    $("#loading").hide();
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                    $(".detailModal").click();

                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });

        });
    });



</script>
