@model IEnumerable<PMS.Web.ViewModels.ProductInformation>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h6 class="float-left">Product List</h6>
</div>

<div class="float-right">
    <a href="@Url.Action("Add", "Product")" class="btn btn-sm btn-primary"><i class="fas fas fa fa-plus-square">&nbsp;</i>Create Product</a>
</div>
<br />
<br />
<hr />
<div class="messageAlert" style="display:none;">
    alertdadawdddddddddddddd
</div>

<div class="card mb-3">
    <div class="card-header">
        <input class="form-control py-2 border-right-0 border" placeholder="Search..." type="search" id="example-search-input">
        @*<div class="input-group col-md-4">
                <span>Search</span>
                <input class="form-control py-2 border-right-0 border" type="search" id="example-search-input">
                <span class="input-group-append">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>*@
    </div>
    <div class="card-body">
        <center><div id="tblcontentLoading"></div></center>
        <div id="tblcontent"></div>
    </div>
    <div class="card-footer small text-muted">Date/TIme:@DateTime.Now</div>
</div>




<!-- Modal -->
<button type="button" class="btn btn-info btn-lg detailModal d-none" data-toggle="modal" data-target="#detailModal"></button>
<div class="modal fade" id="detailModal" role="dialog" data-backdrop="" style="border-color:red;">
    <div class="modal-dialog modal-lg" style="width:40%;">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title pull-left">Details</h6>
            </div>
            <div class="modal-body">

                <div id="detailContent"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-muted btn-sm anchorConfirm btnProductSave" data-name="save" data-action="Product/Save" style="width:70px;">Save</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" style="width:70px;">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/PMS/app")

}



