﻿@model PMS.Web.ViewModels.PISInformation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<small class="form-text text-muted">
    <a href="@Url.Action("List", "PIS")" class="nounderline text-muted"><< Back to list</a>
</small><br>
<div>

    @using (Html.BeginForm("CreatePIS", "PIS", FormMethod.Post))
    {
        <h6 class="float-left">Project Information</h6>
        <br><br>
        <hr />



        <div class="card-header">
            <h6>Requestor Details</h6>
        </div><br>


        <div class="row">
            <div class="form-group col-md-6">
                <label>Name</label>
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control input-sm", maxlength = 150 })
                <small class="form-text text-danger">@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</small>

            </div>

            <div class="form-group col-md-6">
                <label>Position</label>
                @Html.TextBoxFor(model => model.Position, new { @class = "form-control", maxlength = 150 })
                <small class="form-text text-danger">@Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })</small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Department / BU</label>
                @Html.TextBoxFor(model => model.DepartmentBU, new { @class = "form-control", maxlength = 150 })
                <small class="form-text text-danger">@Html.ValidationMessageFor(model => model.DepartmentBU, "", new { @class = "text-danger" })</small>
            </div>

            <div class="form-group col-md-6">
                <label>BU/CCU IS Manager</label>
                @Html.TextBoxFor(model => model.Manager, new { @class = "form-control", maxlength = 150 })
                <small class="form-text text-danger">@Html.ValidationMessageFor(model => model.Manager, "", new { @class = "text-danger" })</small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label>Business Objectives</label>
                @Html.TextAreaFor(model => model.BusinessObjective, new { @class = "form-control", rows = "5", maxlength = 4000 })
                <small class="form-text text-danger">@Html.ValidationMessageFor(model => model.BusinessObjective, "", new { @class = "text-danger" })</small>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label>Request</label>
                @Html.TextAreaFor(model => model.Request, new { @class = "form-control", rows = "5", maxlength = 4000 })
                <small class="form-text text-danger">@Html.ValidationMessageFor(model => model.Request, "", new { @class = "text-danger" })</small>
            </div>
        </div>
        <br><br>

        <button type="submit" name="btnDraft" value="Draft" class="btn btn-sm btn-success"><i class="fas fas fa fa-save">&nbsp;</i>Save as Draft</button>

        <button type="submit" name="btnSubmit" value="Submit" class="btn btn-sm btn-primary"><i class="fas fas fa fa-check-circle">&nbsp;</i>Submit PIS</button>
        <br><br>
    }

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/PMS/pis.js")"></script>
}
