﻿@model PMS.Web.ViewModels.PISInformation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //string PkId = Request.QueryString["PkId"];
    Guid PkId = Guid.Parse(Request.QueryString["PkId"]);
<<<<<<< HEAD
    string role = Request.QueryString["role"];
    string slistname = Request.QueryString["listname"];
    int iBrsId = Convert.ToInt32(Request.QueryString["BRSId"]);
    string hasCabSchedhule = string.IsNullOrEmpty(Model.CabReviewSchedule.ToString()) ? "false" : "true";
    string strApprovedPIS = string.IsNullOrEmpty(Model.DateApprovedPIS.ToString()) ? "false" : "true";
=======
    string role = Request.QueryString["Role"];
>>>>>>> e0c77c851bfb9fa3f68ef227cf7bc87ed6aca07c
}
<small class="form-text text-muted">
    @if (role == "admin")
    {<a href="@Url.Action("ProjectList", "PIS",new { listname= slistname })" class="nounderline btl"><< Back to list</a> }

    else
    { <a href="@Url.Action("List", "PIS")" class="nounderline btl"><< Back to list</a>}

</small><br>



@*=====Message  for users==========*@
<<<<<<< HEAD

@if (Model.IsSubmit == true && Model.IsApprovedPIS != true && role != "admin" && Model.IsSendBack == true)
=======
@if (Model.IsSubmit == true && Model.IsApproved != true && role != "admin")
>>>>>>> e0c77c851bfb9fa3f68ef227cf7bc87ed6aca07c
{
    <div class="alert alert-info">
        <strong>PIS was rejected</strong> Please see the note of the approver. <a href="#" data-toggle="modal" data-target="#ModelViewNote" class="nounderline text-info"> <i class="fas fa-eye text-info"></i> View</a>
    </div>
}
<<<<<<< HEAD

else if (Model.IsSubmit == true && Model.IsApprovedPIS != true && role != "admin")
{
    <div class="alert alert-info">
        <strong>PIS was already submitted.</strong> Please wait for the approval of your request.
    </div>
}
else if (Model.IsSubmit == true && Model.IsApprovedPIS == true && role != "admin" && Model.IsBRS == null && Model.IsApproved == null)
{
    <div class="alert alert-info">
        <strong><i class="fa fa-check"></i> PIS approved.</strong> Your can create your BRS click "Create BRS" button.
    </div>
}
else if (Model.IsSubmit == true && Model.IsApprovedPIS == true && role == "admin")
{
    <div class="alert alert-info">
        <strong><i class="fa fa-check"></i> PIS approved.</strong>
    </div>
}
else if (Model.IsSendBack == true && role == "admin")
{
    <div class="alert alert-info">
        <strong><i class="fa fa-remove"></i> PIS Rejected.</strong><a href="#" data-toggle="modal" data-target="#ModelViewNote" class="nounderline text-info"> <i class="fas fa-eye text-info"></i> View</a>
    </div>
}
else if (Model.IsBRS == true && Model.IsApproved == true)
{
    <div class="alert alert-info">
        <strong><i class="fa fa-check"></i> BRS approved.</strong><a href="@Url.Action("Details", "BRS", new {Id=iBrsId})" class="nounderline text-info"> <i class="fas fa-eye text-info"></i> View</a>
=======
else if (Model.IsSubmit == true && Model.IsApproved == true && role != "admin")
{
    <div class="alert alert-info">
        <strong>PIS was already approved.</strong> Your can create your BRS just click "Create BRS" button.
>>>>>>> e0c77c851bfb9fa3f68ef227cf7bc87ed6aca07c
    </div>
}


<div>
    <h6 class="float-left">Project Information</h6>
    <div class="float-right">



        @if (role == "admin" && Model.IsSendBack != true && Model.IsDraft != true)
        {
            @*===========Buttons for admin===================== *@
            <a id="lnkSendBack" href="javascript:;" class="btn btn-sm btn-dark"><i class="fas fas fa-reply">&nbsp;</i>Send Back</a>
            <a id="lnkAcknowledgement" href="javascript:;" class="btn btn-sm btn-dark"><i class="fas fas fa-send">&nbsp;</i>Send Acknowledgement</a>

            if (Model.CabReviewSchedule != null)
            {
                //href = "@Url.Action("ApprovedPIS", "PIS",new { Id = Model.Id })"
                <a id="lnkApprovedPIS" href="javascript:void(0);" class="btn btn-sm btn-dark anchorConfirm" data-id="@Model.Id" data-name="approve" data-action="/PIS/ApprovedPIS"><i class="fas fas fa-check-circle">&nbsp;</i>Approved PIS</a>
            }

            <a href="@Url.Action("Recommendation", "PIS",new { PkId = Model.PkId,role="admin"})" class="btn btn-sm btn-dark"><i class="fas fas fa fa-folder-open">&nbsp;</i>Recommendation</a>

            if (Model.IsBRS == true && Model.IsApproved == null && iBrsId != 0)
            {

                <a href="@Url.Action("Details", "BRS", new {Id=iBrsId})" class="btn btn-sm btn-dark"> <i class="fas fa-eye text-light"></i> View BRS</a>

            }

        }

        else
        {
            if (Model.IsApprovedPIS == true && role != "admin" && Model.IsBRS == null && Model.IsApproved == null)
            {
                <a href="@Url.Action("Create", "BRS",new { PISNo = Model.PISNo})" class="btn btn-sm btn-primary"><i class="fas fas fa fa-plus-square">&nbsp;</i>Create BRS</a>
            }
            if (Model.IsSubmit != true && role != "admin")
            {
                <a href="@Url.Action("Edit", "PIS", new {PkId=PkId})" class="btn btn-sm btn-primary"><i class="fas fas fa fa-edit">&nbsp;</i>Edit</a>
                <a href="@Url.Action("FlagSubmitPIS", "PIS", new {Id=Model.Id.ToString(),sPkId =PkId}))" class="btn btn-sm btn-primary"><i class="fas fas fa fa-check-circle">&nbsp;</i>Submit PIS</a>
            }

        }

    </div><br><br>
    <hr />

    <div class="card-header">
        <label class="pull-right"><b>PIS Document Number :</b> @Html.DisplayFor(model => model.PISNo)</label>
        <h6>Requestor Details</h6>

    </div><br>

    <div class="row">
        <div class="form-group col-md-6">
            <label>Name:</label>
            @Html.DisplayFor(model => model.Name)

        </div>

        <div class="form-group col-md-6">
            <label>Position:</label>
            @Html.DisplayFor(model => model.Position)
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label>Department / BU:</label>
            @Html.DisplayFor(model => model.DepartmentBU)
        </div>

        <div class="form-group col-md-6">
            <label>BU/CCU IS Manager:</label>
            @Html.DisplayFor(model => model.Manager)
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="form-group col-md-12">
            <label>Business Objectives:</label><br>
            @Html.TextAreaFor(model => model.BusinessObjective, new { @class = "form-control", rows = "10", maxlength = 4000, @readonly = "readonly", Style = "background-color:white;border:none;" })
            @*@Html.DisplayFor(model => model.BusinessObjective)*@

        </div>
    </div>

    <hr />

    <div class="row">
        <div class="form-group col-md-12">
            <label>Request:</label><br>
            @*@Html.DisplayFor(model => model.Request)*@
            @Html.TextAreaFor(model => model.Request, new { @class = "form-control", rows = "10", maxlength = 4000, @readonly = "readonly", Style = "background-color:white;border:none;" })

        </div>
    </div>




    @if (role == "admin")
    {

        <div class="card-header">
            <h6>Additional Details</h6>
        </div><br>

        <div class="row pull-right">
            <div class="form-group col-md-12">
                <label>PIS Document Number :</label>  @Html.DisplayFor(model => model.PISNo) <br>
                <label>PIS date Approved :</label>            @String.Format("{0: MMMM d, yyyy}", Model.DateApprovedPIS)
                <label>PIS Approved  By :</label>  @Html.DisplayFor(model => model.ApprovedPISBy)
            </div>
        </div>
        <br><br><br><br>

        <div class="row">
            <div class="form-group col-md-6">
                <label>Project type:</label>
                @Html.DisplayFor(model => model.AppType)

            </div>

            <div class="form-group col-md-6">
                <label>Project weight:</label>
                @Html.DisplayFor(model => model.ProjectWeight)
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-6">
                <label>Appdev Team:</label>
                @Html.DisplayFor(model => model.AppDevTeam)

            </div>

            <div class="form-group col-md-6">
                <label>Application Manager:</label>
                @Html.DisplayFor(model => model.AppManager)
            </div>

            <div class="form-group col-md-6">
                <label>Application Developer:</label>
                @Html.DisplayFor(model => model.AppDev)
            </div>

            <div class="form-group col-md-6">
                <label>Cab Review Schedule:</label>
                @String.Format("{0:dddd, MMMM d, yyyy}", Model.CabReviewSchedule)
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label>Solution Recommendation:</label><br>
                @Html.TextAreaFor(model => model.SolutionRecommendation, new { @class = "form-control", rows = "10", maxlength = 4000, @readonly = "readonly", Style = "background-color:white;border:none;" })
                @*@Html.DisplayFor(model => model.BusinessObjective)*@

            </div>
        </div>

    }




</div>



<!-- Modal -->
<button type="button" class="btn btn-info btn-lg ModalAcknowledgement d-none" data-toggle="modal" data-target="#ModalAcknowledgement"></button>
<div class="modal fade" id="ModalAcknowledgement" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-lg" style="width:50%;">
        @using (Html.BeginForm("SendAcknowledgement", "PIS", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.Id, new { @class = "form-control d-none" })
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title pull-left">Send Acknowledgement</h6>
                </div>
                <div class="modal-body">
                    <label>Note:</label><br>
                    @Html.TextAreaFor(model => model.CabNote, new { @class = "form-control", rows = "7", maxlength = 2000, required = "required" })
                    <label>Cab Review Schedule:</label><br>
                    @Html.TextBoxFor(model => model.CabReviewSchedule, new { @class = "form-control input-sm", maxlength = 150, @type = "date" })
                    <small class="form-text text-danger">@Html.ValidationMessageFor(model => model.CabReviewSchedule, "", new { @class = "text-danger" })</small>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-muted btn-sm" style="width:70px;">Send</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" style="width:70px;">Close</button>
                </div>
            </div>
        }
    </div>
</div>


<!-- Modal -->
<button type="button" class="btn btn-info btn-lg ModalSendBack d-none" data-toggle="modal" data-target="#ModalSendBack"></button>
<div class="modal fade" id="ModalSendBack" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-lg" style="width:50%;">
        @using (Html.BeginForm("SendBackPIS", "PIS", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.Id, new { @class = "form-control d-none" })
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title pull-left">Send Back PIS</h6>
                </div>
                <div class="modal-body">
                    <label>Note:</label><br>
                    @Html.TextAreaFor(model => model.SendBackNote, new { @class = "form-control", rows = "7", maxlength = 2000, required = "required" })
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-muted btn-sm" style="width:70px;">Send</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" style="width:70px;">Close</button>
                </div>
            </div>
        }
    </div>
</div>

<!-- Modal -->
@*<button type="button" class="btn btn-info btn-lg ModelViewNote d-none" data-toggle="modal" data-target="#ModelViewNote"></button>*@
<div class="modal fade" id="ModelViewNote" role="dialog" data-backdrop="false">
    <div class="modal-dialog modal-lg" style="width:50%;">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title pull-left">Rejected PIS</h6>
            </div>
            <div class="modal-body">
                <label>Note:</label><br>
                @Html.TextAreaFor(model => model.SendBackNote, new { @class = "form-control", rows = "7", @readonly = "readonly", Style = "background-color:white;border:none;" })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" style="width:70px;">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/themes/vendor/vendor/jquery/jquery.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Scripts/PMS/app/confirm-pis.js")"></script>
}
<script>
    $(document).ready(function () {

       if(@strApprovedPIS == true) {
           //alert("2");
           $('#lnkAcknowledgement').css('display', 'none');
           $('#lnkApprovedPIS').css('display', 'none');
           $('#lnkSendBack').css('display', 'none');
        }
        else if (@hasCabSchedhule == true) {
            //alert("1" + @strApprovedPIS);
            $('#lnkAcknowledgement').css('display', 'none');
            $('#lnkSendBack').css('display', 'none');
        }

        else {
            //alert("3");
            $('#lnkAcknowledgement').css('display', '');
            $('#lnkSendBack').css('display', '');
           $('#lnkApprovedPIS').css('display', '');
        }


    });
</script>
