﻿@model IEnumerable<PMS.Web.ViewModels.PISInformation>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div>
        <h6 class="float-left">My Ticket List</h6>
    </div>

    <div class="float-right">
        <a href="@Url.Action("Create", "PIS")" class="btn btn-sm btn-primary"><i class="fas fas fa fa-plus-square">&nbsp;</i>Create PIS</a>
    </div>
    <br />
    <br />
    <hr />
    <div class="card mb-3">
        <div class="card-header">
            <input class="form-control py-2 border-right-0 border d-none" placeholder="Search..." type="search" id="example-search-input">
        </div>
        <div class="card-body">
            <table class="table" id="dataTable">
                <thead>
                    <tr>
                        <th>PIS Number </th>
                        <th>Title</th>
                        <th>Application</th>
                        <th>Type</th>
                        <th>Requestor</th>
                        <th>Date Submitted</th>
                        <th>CAB Review Schedule</th>
                        <th>Status</th>
                        <th width="10%" align="center" style="text-align:center;">Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>

                                @Html.DisplayFor(modelItem => item.PISNo)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.AppName)

<<<<<<< HEAD
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AppType)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)

                        </td>
                        <td>
                            @String.Format("{0: MM/d/yyyy}", item.DateCreated)
                            @*@Html.DisplayFor(modelItem => item.DateCreated)*@

                        </td>
                        <td>
                            @String.Format("{0: MM/d/yyyy}", item.CabReviewSchedule)
                            @*@Html.DisplayFor(modelItem => item.CabReviewSchedule)*@

                        </td>
                        <td>
                            @if (item.IsSubmit == true && item.CabReviewSchedule != null && item.IsApprovedPIS == true && item.IsApproved == true)
                            {
                                <p class="text text-danger">Approved BRS</p>
                            }
                            else if (item.IsSubmit == true && item.CabReviewSchedule != null && item.IsApprovedPIS == true)
                            {
                                <p class="text text-danger">Approved PIS</p>
                            }

                            else if (item.IsSubmit == true && item.CabReviewSchedule != null)
                            {
                                <p class="text text-danger">For CAB Review</p>
                            }
                            else if (item.IsSendBack == true && item.IsSubmit == true)
                            {
                                <p class="text text-danger">Rejected</p>
                            }
                            else if (item.IsSubmit == true && item.IsDraft != true)
                            {
                                <p class="text text-danger">For Approval</p>
                            }
                            else if (item.IsDraft == true)
                            {
                                <p class="text text-danger">New</p>
                            }
                            else
                            {
                                <p class="text text-danger">No Status</p>
                            }
                        </td>
=======
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)

                            </td>

                            <td>
                                @if (item.IsDraft == true)
                                {
                                    <p class="text text-danger">New</p>
                                }
                                else if (item.IsSubmit == true)
                                {
                                    <p class="text text-danger">For Approval</p>
                                }
                                else
                                {
                                    <p class="text text-danger">No Status</p>
                                }


                            </td>
>>>>>>> e0c77c851bfb9fa3f68ef227cf7bc87ed6aca07c

                            <td align="center">

<<<<<<< HEAD
                            @*@Html.ActionLink("Edit", "Edit", new { recordId = item.RecordId, }) | data-id="@item.RecordId"
            @Html.ActionLink("Details", "Details", new { recordId = item.RecordId })
            @Html.ActionLink("Delete", "Delete", new { recordId = item.RecordId })*@
                            @if (item.IsDraft == true)
                            {
                                <a href="@Url.Action("Edit", "PIS", new {PkId=item.PkId.ToString()})" class="anchorDetail" data-name="edit" data-toggle="tooltip" title="Edit"><i class="fa fa-edit text text-muted"></i></a>
=======
                                @*@Html.ActionLink("Edit", "Edit", new { recordId = item.RecordId, }) | data-id="@item.RecordId"
                                    @Html.ActionLink("Details", "Details", new { recordId = item.RecordId })
                                    @Html.ActionLink("Delete", "Delete", new { recordId = item.RecordId })*@
                                @if (item.IsDraft == true)
                                {
                                    <a href="@Url.Action("Edit", "PIS", new {PkId=item.PkId.ToString()})" class="anchorDetail" data-name="edit" data-toggle="tooltip" title="Edit"><i class="fa fa-edit text text-muted"></i></a>
>>>>>>> e0c77c851bfb9fa3f68ef227cf7bc87ed6aca07c

                                }

<<<<<<< HEAD
                            &nbsp;|
                            <a href="@Url.Action("Details", "PIS", new {PkId=item.PkId.ToString(),BRSId=item.BRSId})" class="anchorDetail" data-name="detail" data-toggle="tooltip" title="View Details"><i class="fa fa-eye text text-muted"></i></a>&nbsp;|
=======
                                &nbsp;|
                                <a href="@Url.Action("Details", "PIS", new {PkId=item.PkId.ToString()})" class="anchorDetail" data-name="detail" data-toggle="tooltip" title="View Details"><i class="fa fa-eye text text-muted"></i></a>&nbsp;|
>>>>>>> e0c77c851bfb9fa3f68ef227cf7bc87ed6aca07c

                                <a href="javascript:void(0);" class="anchorConfirm" data-id="@item.Id" data-name="delete" data-action="/PIS/Delete"><i class="fa fa-trash text text-danger" data-toggle="tooltip" title="Delete "></i></a>

                            </td>
                        </tr>
                    }
                    @if (ViewBag.countLst == "0")
                    {
                        <tr>
                            <td colspan="10" align="center">
                                <strong class="text text-default">No data found.</strong>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer small text-muted">Date/TIme:@DateTime.Now</div>


    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/PMS/app/confirm-pis.js")"></script>
}
