﻿@model PMS.Web.ViewModels.PISInformation
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string sRole = Request.QueryString["role"];
}

<small class="form-text text-muted ">
    <a href="@Url.Action("Details", "PIS",new { Pkid = Model.PkId,role =sRole})" class="nounderline btl"><< Back to details</a>
</small><br>
<div>
    @using (Html.BeginForm("SaveRecommendation", "PIS", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.PISNo, new { @class = "form-control d-none" })
        @Html.TextBoxFor(model => model.PkId, new { @class = "form-control d-none" })
        @Html.TextBoxFor(model => model.Id, new { @class = "form-control d-none" })

        <h6 class="float-left">Recommendation</h6>
        <div class="pull-right">
            <div class="row pull-right">
                <label>PIS Number :</label>       @Html.DisplayFor(model => model.PISNo)
                &nbsp;&nbsp;&nbsp;
                @*<label>BRS Number :</label>2019-0000000001*@
            </div>
        </div>
        <br><br>
        <hr />
        <br />
        <div class="form-group col-md-6">
            <label>Project type</label>
            @Html.DropDownListFor(m => m.AppType, new List<SelectListItem>
         {
                             new SelectListItem() {Text = "Please select", Value=""},
                             new SelectListItem() {Text = "Project", Value="Project"},
                             new SelectListItem() {Text = "Not a Project", Value="Not a Project"}
         }, new { @class = "form-control", @required="required" })


        </div>

        <div class="form-group col-md-6">
            <label>Project Weight</label>
            @Html.DropDownListFor(m => m.ProjectWeight, new List<SelectListItem>
     {
                         new SelectListItem() {Text = "Please select", Value=""},
                         new SelectListItem() {Text = "Small-Minor", Value="Small-Minor"},
                         new SelectListItem() {Text = "Small-Major", Value="Small-Major"},
                           new SelectListItem() {Text = "Big-Minor", Value="Big-Minor"},
                         new SelectListItem() {Text = "Big-Major", Value="Big-Major"}
     }, new { @class = "form-control" , @required = "required" })
            <small class="form-text text-danger">@Html.ValidationMessageFor(model => model.ProjectWeight, "", new { @class = "text-danger" })</small>
        </div>

        <div class="form-group col-md-6">
            <label>App-Dev Team</label>
            @Html.DropDownListFor(m => m.AppDevTeam, new List<SelectListItem>
    {
                  new SelectListItem() {Text = "Please select", Value=""},
                  new SelectListItem() {Text = "Web", Value="Web"},
                  new SelectListItem() {Text = "Mobile", Value="Mobile"},
    }, new { @class = "form-control", @required = "required" })
            <small class="form-text text-danger">@Html.ValidationMessageFor(model => model.AppDevTeam, "", new { @class = "text-danger" })</small>
        </div>

        <div class="form-group col-md-6">
            <label>Application Manager</label>
            @Html.DropDownListFor(m => m.AppManager, new List<SelectListItem>
    {
                  new SelectListItem() {Text = "Please select", Value=""},
                  new SelectListItem() {Text = "Paul Villalobos", Value="Paul Villalobos"},
                  new SelectListItem() {Text = "Juan Dela Cruz", Value="Juan Dela Cruz"}
    }, new { @class = "form-control", @required = "required" })
            <small class="form-text text-danger">@Html.ValidationMessageFor(model => model.AppManager, "", new { @class = "text-danger" })</small>
        </div>

        <div class="form-group col-md-6">
            <label>Application Developer</label>
            @Html.DropDownListFor(m => m.AppDev, new List<SelectListItem>
    {
             new SelectListItem() {Text = "Please select", Value=""},
             new SelectListItem() {Text = "Paul Villalobos", Value="Paul Villalobos"},
             new SelectListItem() {Text = "Juan Dela Cruz", Value="Juan Dela Cruz"}
    }, new { @class = "form-control", @required = "required" })
            <small class="form-text text-danger">@Html.ValidationMessageFor(model => model.AppDev, "", new { @class = "text-danger" })</small>
        </div>

        <div class="form-group col-md-12">
            <label>SolutionRecommendation</label>
            @Html.TextAreaFor(model => model.SolutionRecommendation, new { @class = "form-control", rows = "5", maxlength = 4000, @required = "required" })
         
        </div>


        <button type="submit" class="btn btn-sm btn-primary">Update</button>
        <br><br>

        @*<div class="card-header">
                <h6>Solution Recommendation</h6>
            </div><br>*@
    }

</div>