﻿@{
    ViewBag.Title = "RRHI-PMS";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/Content/images/favicon-small.ico" type="image/x-icon" />
    <link href="~/Content/themes/vendor/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/themes/vendor/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/themes/vendor/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/themes/vendor/css/sb-admin.css" rel="stylesheet" />
    <link href="~/Content/themes/vendor/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />






    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        #loading {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255,0.8);
            z-index: 1000;
        }

        #loadingcontent {
            display: table;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        #loadingspinner {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            text-align: center;
            font-size: larger;
            padding-top: 80px;
        }
    </style>
</head>

<body id="page-top">
    <div id="loading">
        <div id="loadingcontent">
            <p id="loadingspinner" style="font-size: 16px; font-weight: bold;">
                <i class="fas fa-circle-notch fa-spin" style="color: red; font-size: 24px;"></i>
                Please wait...
            </p>
        </div>
    </div>
    @RenderPage("~/Views/Shared/_Navigation.cshtml")
    <div id="wrapper" class="wow wow fadeIn">
        @*@RenderPage("~/Views/Shared/_SideMenu.cshtml")*@
        <div id="content-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>

            <footer class="sticky-footer">
                    <hr /><br /><br />

                    <div class=""> @*container*@
                        @*<div class="copyright text-right my-auto">*@
                            <div class="copyright wow fadeIn" data-wow-duration='2500ms' data-wow-delay='1000ms' >
                                <div>
                                    <small class="text  text-light ">
                                        &reg; 2019 Project Monitoring System -
                                        All Rights Reserved&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </small>
                                    <div id="content"></div>
                                </div>
                            </div>
                        </div>
                </footer>
        </div>
    </div>


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Modal -->
    <button type="button" class="btn btn-info btn-lg confirmModal d-none" data-toggle="modal" data-target="#confirmModal"></button>
    <div class="modal fade" id="confirmModal" role="dialog">
        <div class="modal-dialog modal-lg" style="width:50%;">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title pull-left">System Message</h6>
                </div>
                <div class="modal-body" style="font-size: 18px;text-align:center;">
                    <span>Are you sure you want to <span class="nameConfirmAction"></span>?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm btnConfirmOk" style="width:70px;">OK</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" style="width:70px;">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="alertMessage" style="display:none;">
        @Html.Raw(TempData["alertMessage"])
    </div>

    <div id="errorMessage" style="display:none;">
        @Html.Raw(TempData["errorMessage"])
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/PMS/")
    @RenderSection("scripts", required: false)
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/themes/vendor/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/themes/vendor/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/themes/vendor/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/themes/vendor/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/Content/themes/vendor/js/sb-admin.js"></script>
    @*<script src="~/Scripts/PMS/confirm.js"></script>*@
    <script src="~/Scripts/PMS/PageLoader.js"></script>
    <script src="~/Scripts/wow.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    @*<script src="~/Scripts/PMS/app/product.js"></script>*@
    <link href="~/Content/animate.min.css" rel="stylesheet" />




    @*JS for datatable*@
    <script src="~/content/themes/vendor/js/demo/datatables-demo.js"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js"></script>*@



    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();


          if ('@TempData["alertMessage"]' != "") {
              showMessage();
            '@TempData["alertMessage"] = ""';
            }

           if ('@TempData["errorMessage"]' != "") {
               errorMessage();
            '@TempData["errorMessage"] = ""';
        }

        });

        function showMessage() {
            $('#alertMessage').fadeIn("slow");
            setTimeout(function () { $("#alertMessage").fadeOut(3000); }, 4000)
             '@TempData["alertMessage"] = ""';
        }

        function errorMessage() {
            $('#errorMessage').fadeIn("slow");
            setTimeout(function () { $("#errorMessage").fadeOut(3000); }, 4000)
              '@TempData["errorMessage"] = ""';
        }



        @*$(function () {
            $("#content").html("<i class='fas fa-circle-notch fa-spin' style='color: red; font-size: 24px;'></i>");
            setTimeout(function () { LoadPartialView(); }, 500);
        });

        function LoadPartialView() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetPartialView", "Product")',
                dataType: "html",
                success: function (data) {
                    $("#content").empty();
                    $("#content").html(data);
                    $("#content").fadeIn('slow');
                },
                error: function (data) {
                    $("#content").empty();
                }
            });
        };

        $(window).on('popstate', function () {
            $(".modal-backdrop").remove();
        });*@


    </script>


</body>
</html>
