@{ 
    string togglechk = "";
    //if (!string.IsNullOrEmpty(Session["toggleCheck"] as string))
    //{
    //    Session["toggleCheck"] = "0";
    //    togglechk = Session["toggleCheck"].ToString();
    //}
    //else
    //{
    //    togglechk = "1";
    //}


    //if (!string.IsNullOrEmpty(Request.Cookies["username"].Value as string))
    //{
    //    var valuesss = Request.Cookies["username"].Value;
    //}
    //else
    //{
    //    togglechk = "1";
    //}

}


<body id="page-top" >

    <nav class="navbar navbar-expand navbar-dark bg-red static-top">

        <a class="navbar-brand mr-1" href="@Url.Action("Dashboard", "Main")">
            <img class="img  wow fadeInLeft" data-wow-duration='2500ms' data-wow-delay='100ms' src="~/Content/images/rrhi_logo.png" style="width:8%;height:8%" />
            <b>Dashboard</b>
        </a>

        @*<button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle">
            <i class="fas fa-bars"></i>
        </button>*@

        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                @*<input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-default" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>*@
            </div>
        </form>

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0">



            @*<li class="nav-item dropdown no-arrow mx-1 divNavP">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <span class="badge badge-danger">9+</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>*@


            @*<li class="nav-item dropdown no-arrow mx-1 divNavP">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-envelope fa-fw"></i>
                    <span class="badge badge-danger">7</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>*@



            <li class="nav-item dropdown no-arrow divNavP">
                <a class="nav-link" href="#" title="Logout" data-toggle="tooltip">
                    <i class="fas fa-sign-out-alt fa-fw"></i>
                </a>
                @*<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Activity Log</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </div>*@
            </li>


        </ul>

    </nav>


</body>
