
<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Dashboard", "Main")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span> Dashboard</span>
        </a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Login Screens:</h6>
            <a class="dropdown-item" href="javascript:;">Login</a>
            <a class="dropdown-item" href="javascript:;">Register</a>
            <a class="dropdown-item" href="javascript:;">Forgot Password</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Other Pages:</h6>
            <a class="dropdown-item" href="javascript:;">404 Page</a>
            <a class="dropdown-item" href="javascript:;">Blank Page</a>
        </div>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "Employee")">
            <i class="fas fa-fw fa-users"></i>
            <span> Employee</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("ProductList", "Product")">
            <i class="fas fa-fw fa-luggage-cart"></i>
            <span> Product</span>
        </a>
    </li>

</ul>
