<p>Sir/Ma'am {Name}</p>
<p>Your PIS ({PISNumber}) was already approved</p>
<div>
    <p><em>Approver:</em> {ApproverName}</p>
    <p><em>Date Approved:</em> {DateApproved}</p>
</div>
<br />
<br />
<p>(This is an application generated e-mail notification. Please DO NOT reply to this message.)</p>