<p>Sir/Ma'am {Name}</p>


<p>Note:{CABNote}</p>
<div>
    <p><em>CAB schedule:</em> {CABSchedule}</p>
    <p><em>PIS number:</em> {PISNo}</p>
</div>
<br />
<br />
<p>(This is an application generated e-mail notification. Please DO NOT reply to this message.)</p>