<p>Sir/Ma'am</p>
<p>I've already submitted my PIS ({PISNumber}) for your approval.</p>
<div>
    <p><em>Requestor Name:</em> {RequestorName}</p>
    <p><em>Position:</em> {Position}</p>
    <p><em>Department/BU:</em> {Department}</p>
    <p><em>Submitted On:</em> {DateSubmitted}</p>
</div>
<br />
<br />
<p>(This is an application generated e-mail notification. Please DO NOT reply to this message.)</p>