@model PMS.Web.ViewModels.EmployeeInformation

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<fieldset>
    <legend>Create Employee Information</legend>

    <div class="editor-label">
        <label for="EmployeeId">EmployeeId</label>
    </div>
    <div class="editor-field">
        <input class="text-box single-line valid Core" id="EmployeeId" name="EmployeeId" type="text" value="TESTCORE">
        <span class="field-validation-valid" data-valmsg-for="EmployeeId" data-valmsg-replace="true"></span>
    </div>

    <div class="editor-label">
        <label for="FirstName">FirstName</label>
    </div>
    <div class="editor-field">
        <input class="text-box single-line Core" id="FirstName" name="FirstName" type="text" value="Juan">
        <span class="field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
    </div>

    <div class="editor-label">
        <label for="MiddleName">MiddleName</label>
    </div>
    <div class="editor-field">
        <input class="text-box single-line Core" id="MiddleName" name="MiddleName" type="text" value="Dela">
        <span class="field-validation-valid" data-valmsg-for="MiddleName" data-valmsg-replace="true"></span>
    </div>

    <div class="editor-label">
        <label for="LastName">LastName</label>
    </div>
    <div class="editor-field">
        <input class="text-box single-line Core" id="LastName" name="LastName" type="text" value="Cruz">
        <span class="field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
    </div>

    <div class="editor-label">
        <label for="Status">Status</label>
    </div>
    <div class="editor-field">
        <input class="check-box Core" data-val="true" data-val-required="The Status field is required." id="Status" name="Status" type="checkbox" value="true"><input name="Status" type="hidden" value="false">
        <span class="field-validation-valid" data-valmsg-for="Status" data-valmsg-replace="true"></span>
    </div>

    <div class="editor-label">
        <label for="AccessNo">Access Number</label>
    </div>
    <div class="editor-field">
        <input class="text-box single-line Core" id="AccessNo" name="AccessNo" type="text" value="6999">
        <span class="field-validation-valid" data-valmsg-for="AccessNo" data-valmsg-replace="true"></span>
    </div>

    <p> 
        <button class="btn-create" name="" value="Create" onclick="CreateEmployee()">Create Employee</button>
    </p>
</fieldset>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/PMS/employee.js")"></script>
}
