@model PMS.Web.ViewModels.EmployeeInformation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Delete Employee Information</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmployeeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MiddleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccessNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccessNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BadgeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BadgeId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsAgency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAgency)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AgencyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgencyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AgencyManager)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgencyManager)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Signatory)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Signatory)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmployeeLevel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeLevel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Department)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayrollClass)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayrollClass)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeSchedule)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeSchedule)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JobLevel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobLevel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SAPID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SAPID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Level)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Level)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WithInOut)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WithInOut)
    </div>
</fieldset>
<p>
    <button class="btn-delete" name="" value="Delete" onclick="DeleteEmployee('@Model.Pkid')">Delete Employee</button>
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    <script src="@Url.Content("~/Scripts/PMS/employee.js")"></script>
}
