@model PMS.Web.ViewModels.EmployeeInformation

@{
    ViewBag.Title = "Employee Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee Information</h2>

<fieldset>
    <legend>Employee Information</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmployeeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MiddleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccessNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccessNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BadgeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BadgeId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsAgency)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAgency)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AgencyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgencyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AgencyManager)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgencyManager)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Signatory)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Signatory)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Company)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Company)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmployeeLevel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeLevel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Department)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Department)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PayrollClass)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PayrollClass)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeSchedule)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeSchedule)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JobLevel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobLevel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SAPID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SAPID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Level)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Level)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WithInOut)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WithInOut)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { EmployeeId=Model.EmployeeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
