@model PMS.Web.ViewModels.EmployeeInformation

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<fieldset>
    <legend>Update Employee Information</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.EmployeeId)
    </div>
    <div class="editor-field">
        @*@Html.TextBoxFor(model => model.EmployeeId, new {disabled = "disabled"})*@
        @Html.EditorFor(model => model.EmployeeId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.FirstName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.MiddleName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.MiddleName)
        @Html.ValidationMessageFor(model => model.MiddleName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.LastName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Status)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Status)
        @Html.ValidationMessageFor(model => model.Status)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.AccessNo)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.AccessNo)
        @Html.ValidationMessageFor(model => model.AccessNo)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.BadgeId)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.BadgeId)
        @Html.ValidationMessageFor(model => model.BadgeId)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.IsAgency)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.IsAgency)
        @Html.ValidationMessageFor(model => model.IsAgency)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.AgencyName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.AgencyName)
        @Html.ValidationMessageFor(model => model.AgencyName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.AgencyManager)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.AgencyManager)
        @Html.ValidationMessageFor(model => model.AgencyManager)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Signatory)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Signatory)
        @Html.ValidationMessageFor(model => model.Signatory)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Company)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Company)
        @Html.ValidationMessageFor(model => model.Company)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Location)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Location)
        @Html.ValidationMessageFor(model => model.Location)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.EmployeeLevel)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.EmployeeLevel)
        @Html.ValidationMessageFor(model => model.EmployeeLevel)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Department)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Department)
        @Html.ValidationMessageFor(model => model.Department)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.PayrollClass)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PayrollClass)
        @Html.ValidationMessageFor(model => model.PayrollClass)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.TimeSchedule)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.TimeSchedule)
        @Html.ValidationMessageFor(model => model.TimeSchedule)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.JobLevel)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.JobLevel)
        @Html.ValidationMessageFor(model => model.JobLevel)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.SAPID)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.SAPID)
        @Html.ValidationMessageFor(model => model.SAPID)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Level)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Level)
        @Html.ValidationMessageFor(model => model.Level)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.WithInOut)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.WithInOut)
        @Html.ValidationMessageFor(model => model.WithInOut)
    </div>

    <p>
        <button class="btn-update" name="" value="Update" onclick="UpdateEmployee()">Update Employee</button>
    </p>
</fieldset>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/PMS/employee.js")"></script>
}
