@model IEnumerable<PMS.Web.ViewModels.EmployeeInformation>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h6 class="float-left">Employee List</h6>
</div>
<div class="float-right">

    @*@Html.ActionLink("", "Create", new { @class="btn btn-sm btn-primary" })*@
    <a href="@Url.Action("Create", "Employee")" class="btn btn-sm btn-primary"><i class="fas fas fa fa-plus-square">&nbsp;</i>Create New</a>
</div>
<br />
<br />
<hr />

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fasColor fa-table"></i>
        Employees
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.EmployeeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MiddleName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th width="15%" align="center" style="text-align:center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MiddleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { employeeId = item.EmployeeId, }) |
                                @Html.ActionLink("Details", "Details", new { employeeId = item.EmployeeId }) |
                                @Html.ActionLink("Delete", "Delete", new { employeeId = item.EmployeeId })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Date/TIme:@DateTime.Now</div>
</div>
