@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string pColor = "bg-" + ViewBag.divPickColor;
}
<style>
    /* CSS used here will be applied after bootstrap.css */
    .badge-notify {
        background: #029b46;
        position: relative;
        top: -25px;
        left: -10px;
    }
</style>
<!-- Breadcrumbs new-->
<ol class="breadcrumb wow fadeIn" data-wow-duration='2500ms' data-wow-delay='500ms'>
    <li class="breadcrumb-item active"><b>Overview</b></li>
</ol>


<h6>User Development two</h6>
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3 wow fadeInRight" data-wow-duration='2500ms' data-wow-delay='500ms'>
        <a href="@Url.Action("Create", "PIS")" class="nounderline">
            <div class="card text-white @pColor o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-list wow fadeInRight" data-wow-duration='2500ms' data-wow-delay='1000ms'></i>
                    </div>
                    <div class="mr-5"><b> Create PIS </b></div>
                </div>

            </div>
        </a>
    </div>

    @**@

    <div class="col-xl-3 col-sm-6 mb-3 wow fadeInRight" data-wow-duration='2500ms' data-wow-delay='500ms'>
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-list wow fadeInRight" data-wow-duration='2500ms' data-wow-delay='1000ms'></i>
                </div>
                <div class="mr-5"><span class="cntTask">@ViewBag.countAlluser</span> My Tickets (Requestor)</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("List", "PIS")">
                <span class="float-left">View List</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>


<hr class="wow fadeIn" data-wow-duration='2500ms' data-wow-delay='1000ms' />

<h6>Admin</h6>
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3 wow fadeInLeft" data-wow-duration='2500ms' data-wow-delay='500ms'>
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-list wow fadeInRight" data-wow-duration='2500ms' data-wow-delay='1000ms'></i>
                </div>

                <div class="mr-5">
                    <span class="cntTask">@ViewBag.countNew</span>
                    <span class="badge badge-notify">New</span>
                    Submitted PIS
                </div>

            </div>
            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("ProjectList", "PIS" , new { listname = "new" })">
                <span class="float-left">View List</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>


    <div class="col-xl-3 col-sm-6 mb-3 wow fadeInLeft" data-wow-duration='2500ms' data-wow-delay='500ms'>
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-list wow fadeInRight" data-wow-duration='2500ms' data-wow-delay='1000ms'></i>
                </div>
                <div class="mr-5"><span class="cntTask">@ViewBag.countCab</span> For CAB Review</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("ProjectList", "PIS" , new { listname = "cab" })">
                <span class="float-left">View List</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>


    <div class="col-xl-3 col-sm-6 mb-3 wow fadeInLeft" data-wow-duration='2500ms' data-wow-delay='500ms'>
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-list wow fadeInRight" data-wow-duration='2500ms' data-wow-delay='1000ms'></i>
                </div>
                <div class="mr-5"><span class="cntTask">@ViewBag.countPis</span> Approved PIS</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("ProjectList", "PIS" , new { listname = "pis" })">
                <span class="float-left">View List</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>






    <div class="col-xl-3 col-sm-6 mb-3 wow fadeInLeft" data-wow-duration='2500ms' data-wow-delay='500ms'>
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-list wow fadeInRight" data-wow-duration='2500ms' data-wow-delay='1000ms'></i>
                </div>
                <div class="mr-5"><span class="cntTask">@ViewBag.countBRS</span> BRS List</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("List", "BRS")">
                <span class="float-left">View List</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>



    <div class="col-xl-3 col-sm-6 mb-3 wow fadeInLeft" data-wow-duration='2500ms' data-wow-delay='500ms'>
        <div class="card text-white bg-dark o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-list wow fadeInRight" data-wow-duration='2500ms' data-wow-delay='1000ms'></i>
                </div>
                <div class="mr-5">
                    <span class="cntTask">@ViewBag.countAlladmin</span>
                    <span class="badge badge-notify">New</span>
                    Project List
                </div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("ProjectList", "PIS" , new { listname = "all" })">
                <span class="float-left">View List</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>

</div>
