﻿@model PMS.Web.ViewModels.BRSModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string strPISNo = Request.QueryString["PISNo"];
}
<small class="form-text text-muted">
    <a href="@Url.Action("List", "BRS")" class="nounderline"><< Back to list</a>
</small><br>

<small class="form-text text-muted">
    <a href="@Url.Action("DownloadBRSTemplate", "BRS")" class="nounderline"><< Download BRS Template</a>
</small><br>
<div>

    <h6 class="float-left">Project Information</h6>
    <br><br>
    <hr />

    @*<div class="card-header">
            <h6>Requestor Details</h6>
        </div><br>*@


    <div class="row">
        <div class="form-group col-md-12">

            <div class="form-group col-md-6">
                <label>Business Unit</label>
                @*@Html.DropDownListFor(m => m.ServerMaster.EnvironmentType,
                    new SelectList(new List<SelectListItem> {
                             new SelectListItem { Text = "PROD", Value = "PROD"},
                             new SelectListItem { Text = "DEV", Value = "DEV"}
                         }, "Value", "Text"),
                     new { id = "txtEnvType", @class = "form-control form-control-sm form-control-short" })*@
                <select id="idBU" class="form-control">
                    <option value="1">True Value</option>
                    <option value="2">HandyMan</option>
                    <option value="3">Daiso</option>
                    <option value="4">Robinsons Builders</option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label>PIS Number</label>
                @Html.TextBoxFor(model => model.PISNo, new { id = "idPISNo", @class = "form-control", maxlength = 150, Value = strPISNo, @readonly = "readonly" })
            </div>

            <div class="form-group col-md-6">
                <label>BRS Approved Date</label>
                @Html.TextBox("ApprovedDate", "01/01/0001", new { id = "idApprovedDate", @class = "datepicker form-control", @type = "date" })
            </div>

            @*<div class="form-group" style="margin: 0px 0px 1px 0px;">
                    <div class="input-group" style="padding: 0px 0px 5px 0px; width: 50%;">
                        <div class="input-group-addon" style="width: 10em;">BRS Approved Date</div>
                            @Html.TextBox("ApprovedDate", "01/01/0001", new {id = "ApprovedDate", @class = "datepicker form-control", @type = "date" })
                    </div>
                </div>*@

            <div class="form-group col-md-12">
                <label>Notes</label>
                @Html.TextAreaFor(model => model.Notes, new { id = "idNotes", @class = "form-control", rows = "5", maxlength = 4000 })
            </div>

            @*<div class="form-group col-md-6">
                    <div class="form-group" style="margin: 0px 0px 1px 0px;">
                        <div class="input-group" style="padding: 0px 0px 5px 0px; width: 100%;">
                            <div class="input-group-addon" style="width: 10em;">PDF File</div>
                            <input type="file" id="Picture1" name="Picture2" class="Picturefile" />
                        </div>
                    </div>
                </div>*@

                <div class="form-group col-md-6">
                    <label>Attached Document</label>
                        <input type="file" id="idDocument" name="Document" class="Documentfile" />
                </div>

            </div>
        </div>
        <br><br>
        
        @*<button type="button" class="btn btn-sm btn-success" id="idSave" style="width: 90px;">Save as Draft</button>*@
        <button type="button" class="btn btn-sm btn-primary " id="idSubmit" data-dismiss="modal" style="width: 90px;">Submit BRS</button> 

        @*<button type="submit" class="btn btn-sm btn-success">Save as Draft</button>

        <button type="submit" class="btn btn-sm btn-primary pull-right">Submit BRS</button>*@
        <br><br>

</div>

<div id="divCreateBRS" data-request-url="@Url.Action("CreateBRS", "BRS")"></div>
<div id="divUploadCustRedeemedPDF" data-request-url="@Url.Action("UploadCustRedeemedPDF", "BRS")"></div>
<div id="divGetPisNo" data-request-url="@Url.Action("GetPisNo", "BRS")"></div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/PMS/pis.js")"></script>
    @Scripts.Render("~/Scripts/PMS/BRS/BRS_Function.js")
}

