﻿@model PMS.Web.ViewModels.BRSModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string PkId = Request.QueryString["PkId"];
}
<small class="form-text text-muted">
    <a href="@Url.Action("List", "BRS")" class="nounderline"><< Back to list</a>
</small><br>
        <div>
            @*<h6 class="float-left">Project Information</h6>*@
            @*<div class="float-right">
                <a href="@Url.Action("Edit", "PIS", new {PkId=PkId})" class="btn btn-sm btn-primary"><i class="fas fas fa fa-edit">&nbsp;</i>Edit</a>
                <a href="@Url.Action("Create", "PIS")" class="btn btn-sm btn-primary"><i class="fas fas fa fa-plus-square">&nbsp;</i>Create BRS</a>
            </div><br><br>*@
            @*<hr />*@

            <div class="card-header">
                <h6>Project Information</h6>
            </div><br>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>PIS Number:</label>
                        @Html.DisplayFor(model => model.PISNo)
                </div>

                 <div class="form-group col-md-12">
                    <label>BRS Document Number :</label>  @Html.DisplayFor(model => model.BRSNo)
                </div>

                <div class="form-group col-md-6">
                    <label>Business Unit:</label>
                        @Html.DisplayFor(model => model.BU)
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>BRS Approved Date:</label>
                        @Html.DisplayFor(model => model.BRSApprovedDate)
                </div>

                <div class="form-group col-md-12">
                    <label>Notes:</label><br>
                        @Html.DisplayFor(model => model.Notes)
                </div>

                <div class="form-group col-md-12">
                    <label>Attachment BRS File Nane:</label><br>
                        @Html.DisplayFor(model => model.Filename)
                </div>

                <div class="form-group col-md-12">
                    <label>Attachment BRS File Path:</label><br>
                        @Html.DisplayFor(model => model.FilePath)
                </div>
            </div>

            <hr />
            <div class="row">
                
            </div>


            @*<div class="card-header">
                <h6>Solution Recommendation</h6>
            </div><br>*@


            @*<div class="row pull-right">
                <div class="form-group col-md-12">
                    <label>BRS Document Number :</label>  @Html.DisplayFor(model => model.BRSNo)
                </div>

            </div>*@

        </div>