﻿@model PMS.Web.ViewModels.BRSModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<small class="form-text text-muted">
    <a href="@Url.Action("List", "BRS")" class="nounderline"><< Back to list</a>
</small><br>
<div>
    @using (Html.BeginForm("UpdatePIS", "BRS", FormMethod.Post))
    {
        @Html.Hidden("RecordID", Model.Id, new { id = "idRecordID" })
        @*<h6 class="float-left">Edit Project Information</h6>
            <br><br>
            <hr />*@

        <div class="card-header">
            <h6>Edit Project Information</h6>
        </div><br>

        //, @readonly = true
        <div class="row">
            <div class="form-group col-md-6">
                <label>PIS Number</label>
                @Html.TextBoxFor(model => model.PISNo, new { id = "idUpdatePISNo", @class = "form-control", maxlength = 150 })
                @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
            </div>

            <div class="form-group col-md-6">
                <label>BRS Number</label>
                @Html.TextBoxFor(model => model.BRSNo, new { id = "idUpdateBRSNo", @class = "form-control", maxlength = 150 })
                @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Application</label>
                @Html.TextBoxFor(model => model.AppName, new { id = "idUpdateApp", @class = "form-control", maxlength = 150 })
                @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
            </div>

            <div class="form-group col-md-6">
                <label>Project Title</label>
                @Html.TextBoxFor(model => model.Title, new { id = "idUpdateTitle", @class = "form-control", maxlength = 150 })
                @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label>Approved By:</label>
                @Html.TextBoxFor(model => model.ApprovedBy, new { id = "idUpdateApprBy", @class = "form-control", maxlength = 4000 })
            </div>

            <div class="form-group col-md-12">
                <label>Date Approved</label>
                @Html.TextBoxFor(model => model.DateApproved, new { id = "idUpdateDateAppr", @class = "form-control", rows = "5", maxlength = 4000 })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label>Attachment(Sign BRS)</label>
                @Html.TextBoxFor(model => model.Filename, new { id = "idPUpdateAttachment", @class = "form-control", maxlength = 4000 })
                <a href="@Url.Action("DownloadBRSAttachment", "BRS" ,new { fileName = Model.Filename})" class="nounderline"><< Download Attached BRS</a>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label>Notes</label>
                @Html.TextAreaFor(model => model.AppDevNote, new { id = "idUpdateNotes", @class = "form-control", rows = "5", maxlength = 4000 })
            </div>

            <div class="form-group col-md-12">
                <label>App-Dev Comment</label>
                @Html.TextAreaFor(model => model.AppDevComment, new { id = "idUpdateComment", @class = "form-control", rows = "5", maxlength = 4000 })
            </div>
        </div>
        <br><br>

        <button type="button" class="btn btn-sm btn-primary " id="idUpdate" data-dismiss="modal" style="width: 90px;">Update</button>
        <br><br>
    }

</div>

<div id="divUpdateBRS" data-request-url="@Url.Action("UpdateBRS", "BRS")"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/PMS/pis.js")"></script>
    @Scripts.Render("~/Scripts/PMS/BRS/BRS_Function.js")
}
