﻿@model IEnumerable<PMS.Web.ViewModels.BRSModel>
@{
    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="card mb-3">
        <div class="card-header">
            <h6 class="float-left">BRS List</h6>
            @*<input class="form-control py-2 border-right-0 border" placeholder="Search..." type="search" id="example-search-input">*@
        </div>
        <div class="card-body">
            <table class="table" id="dataTable">
                <thead>
                    <tr>
                        <th>BRS Number </th>
                        <th>PIS Number </th>
                        <th>Title</th>
                        <th>Application</th>
                        <th>Date Submitted</th>
                        <th>Cab Review Date</th>
                        <th>Approved By</th>
                        <th width="10%" align="center" style="text-align:center;">Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {

                    <tr>
                        <td>

                            @Html.DisplayFor(modelItem => item.BRSNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PISNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.AppName)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateSubmitted)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CabReviewSchedule)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApprovedBy)
                        </td>

                        <td align="center">

                            @*@Html.ActionLink("Edit", "Edit", new { recordId = item.RecordId, }) | data-id="@item.RecordId"
            @Html.ActionLink("Details", "Details", new { recordId = item.RecordId })
            @Html.ActionLink("Delete", "Delete", new { recordId = item.RecordId })*@
                            <a href="@Url.Action("Edit", "BRS", new {id=item.Id.ToString()})" class="anchorDetail" data-name="edit" data-toggle="tooltip" title="Edit"><i class="fa fa-edit text text-muted"></i></a>&nbsp;|
                            <a href="@Url.Action("Details", "BRS", new {id=item.Id.ToString()})" class="anchorDetail" data-name="detail" data-toggle="tooltip" title="View Details"><i class="fa fa-eye text text-muted"></i></a>&nbsp;|
                            <a href="javascript:void(0);" class="anchorConfirm" data-id="@item.Id" data-name="delete" data-action="/PIS/Delete"><i class="fa fa-trash text text-danger" data-toggle="tooltip" title="Delete "></i></a>

                        </td>
                    </tr>
                    }
                    @if (ViewBag.countLst == "0")
                    {
                        <tr>
                            <td colspan="6" align="center">
                                <strong class="text text-default">No data found.</strong>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer small text-muted">Date/TIme:@DateTime.Now</div>


    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/PMS/app/confirm-pis.js")"></script>
}
