﻿body {
    font-size: .85em;
    font-family: Calibri;
    color: #232323;
    background-color: #fff;
    z-index: -9999;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.bg-red {
    background-color: red;
}

.fas {
    color: #fff;
}

.fasColor {
    color: #000;
}

.fas:hover {
    opacity: 0.5;
}

.sidebar {
    background-color: #191818;
}

h6 {
    font-weight: bold;
}

.navbar {
    overflow: hidden;
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
}

.sidebar, #content-wrapper {
    margin-top: 56px;
}

.cntTask {
    font-weight: bold;
    font-size: 40px;
}



.sticky-footer {

}
.divNavP {
    /*position: absolute;
    z-index: 1;*/
}


.sidebar li {
    border-bottom: 1px solid #2c2b2b;
}


.d-none{
    display:none;
}


.modal {
    text-align: center;
    padding: 0 !important;

}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    background-color: #ffb3b3;
    border-radius:5px;
}

table, tr, td {
    padding: 3px !important;
}


#alertMessage {
    color: white;
    position: fixed;
    width: 50%;
    line-height: 2.5;
    margin-left: -25%;
    background: #333333;
    bottom: 0px;
    left: 50%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}

#errorMessage {
    color: white;
    position: fixed;
    width: 50%;
    line-height: 2.5;
    margin-left: -25%;
    background: #ff4848;
    bottom: 0px;
    left: 50%;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}

.nounderline {
    text-decoration: none !important
}


label{
    font-weight:bold;
}

.linkdisabled {
    cursor: text;
}


.btl{
    color:#333333;
   font-weight:bolder;
}